{
  "name": "<%= name %>",
  "description": "<%= description %>",
  "version": "<%= version %>",
  "main": ["<%= main %>", "<%= main.replace(/\.js$/, ".swf") %>"],
  "keywords": <%= JSON.stringify(keywords) %>,
  "license": "<%= license %>",
  "authors": <%= JSON.stringify(contributors) %>,
  "homepage": "<%= homepage %>",
  "repository": <%= JSON.stringify(repository) %>,
  "location": "<%= repository.url.replace(/^https:\/\//, "git://") %>",
  "ignore": [
    "*",
    "/dist/.jshintrc",
    "!/bower.json",
    "!/dist/**"
  ]
}
