/*!
 * <%= title || name %>
 * <%= description %>
 * Copyright (c) 2009-<%= grunt.template.today("yyyy") %> <%= _.pluck(contributors, "name").join(", ") %>
 * Licensed <%= license %>
 * <%= homepage %>
 * v<%= version %>
 */
